<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${season.name} + ' - ' + ${season.seasonNumber}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<h1 class="display-3 text-uppercase" th:text="${season.name} + ' - ' + ${season.seasonNumber}"></h1>
<h1 class="display-3" th:text="'Start balance: ' + ${balance[#lists.size(balance) - 1].startBalance} + ' $'"></h1>
<h1 class="display-3" th:text="'Current balance: ' + ${balance[#lists.size(balance) - 1].currentBalance} + ' $'"></h1>

<th:block th:each="matchDay, matchDayIter : ${season.matchDays}">
    <hr style="border: 10px solid green;"/>
    <h3 class="text-primary text-center" th:text="'Match Day # ' + ${matchDay.matchDayNumber}"></h3>
    <div class="row">
        <div class="col-md-4">
            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Club</th>
                    <th scope="col">Played</th>
                    <!--<th scope="col">Won</th>-->
                    <!--<th scope="col">Drawn</th>-->
                    <!--<th scope="col">Lost</th>-->
                    <th scope="col">GF</th>
                    <th scope="col">GA</th>
                    <!--<th scope="col">GD</th>-->
                    <th scope="col">Points</th>
                    <th scope="col">TS</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="stat, statIter : ${season.tableStatistics[matchDayIter.index]}">
                    <tr th:class="${not stat.potentiallyScored && not stat.potentiallyScoredInPool} ? '' : (${stat.potentiallyScored} ? 'table-success' : 'table-primary')">
                        <td th:text="${statIter.count}"></td>
                        <th scope="row" th:text="${stat.team.name}"></th>
                        <td th:text="${stat.matchesPlayed}"></td>
                        <td th:text="${stat.goalsFor}"></td>
                        <td th:text="${stat.goalsAgainst}"></td>
                        <td th:text="${stat.points}"></td>
                        <td th:text="${stat.matchesScored}"></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" style="width: 40%">Home</th>
                    <th scope="col" style="width: 20%">Score</th>
                    <th scope="col" style="width: 40%">Guest</th>
                </tr>
                </thead>
                <tbody>
                    <th:block th:each="match, matchiter : ${matchDay.matches}">
                        <tr th:class="${not match.potentiallyScored} ? '' : (${match.potentiallyScored && match.scored} ? 'table-success' : 'table-danger')">
                            <td th:text="${match.homeSide.team.name}"></td>
                            <th scope="row" th:text="${match.inFuture} ? '- : -' : ${match.homeSide.goals} + ':' + ${match.guestSide.goals}"></th>
                            <td th:text="${match.guestSide.team.name}"></td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Start Balance</th>
                    <th scope="col">Current Balance</th>
                    <th scope="col">Profit</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width: 20%" th:text="${balance[matchDayIter.index].startBalance} + ' $'"></td>
                        <th style="width: 40%" scope="row" th:text="${balance[matchDayIter.index].currentBalance} + ' $'"></th>
                        <td style="width: 40%" th:text="${balance[matchDayIter.index].profit} + ' $'"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</th:block>
</body>
</html>